li{
    list-style: none;
}
.passsec{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* ref.
    http://weboook.blog22.fc2.com/blog-entry-411.html
    */
}
#upperArea{
    height: 60%;
}
#lowerArea{
    height: 39%;
}
.showRaceTime{
    padding-top: 5%;
    width: 64%;
    height: 60%;
    font-size: calc(100vw / 10);
    font-family: monospace;
    color: #ff0000;
    text-shadow: 0 0 calc(100vw / 75) #ff0000b0,0 0 calc(100vw / 75) #ff0000b0;
    text-align: center;
    float: left;
}
.showDate{
    width: 64%;
    height: 20%;
    font-size: calc(100vw / 30);
    font-family: monospace;
    color: #ff0000b0;
    overflow: hidden;
    float: left;
    text-align: right;
}
::-webkit-scrollbar{
    display: none;
}
.showButton{
    width: 64%;
    height: 19%;
    font-size: calc(100vw / 75);
    float: left;
    text-align: right;
}
.button{
    /*
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    */
    border-radius: calc(100vw / 75);
    outline: none;
    background-color: black;
    color: #ff0000;
    padding: 0.1em 1em;
    margin-left: calc(100vw / 50);
}
.showLap{
    font-family: monospace;
    padding-top: calc(100vw / 300);
    font-size: calc(100vw / 40);
    color: #ff0000;
    width: 54%;
    height: 100%;
    overflow: scroll;
    text-align: center;
    clear: both;
    float: left;
}
.showMessage{
    padding-right: calc(100vw / 10);
    font-family: monospace;
    width: 45%;
    height: 100%;
    font-size: calc(100vw / 50);
    color: #ff0000;
    text-align: right;
    float: right;
}
.showImg{
    width: 35%;
    height: 100%;
    float: right;
}
